@import "tailwindcss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 39, 65);
    color: #eef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 20px;
}